In [1]:
import configparser
import pandas as pd

In [2]:
config = configparser.ConfigParser()
config.read('config2.cfg')

['config2.cfg']

In [3]:
import mysql.connector

In [4]:
RDS_HOSTNAME = 'e-dreams-dwh.ch62gk4wowqh.us-east-1.rds.amazonaws.com'

In [5]:
mysql_driver = f"""mysql+pymysql://{config.get('DWH', 'DWH_USER')}:{config.get('DWH', 'DWH_PASSWORD')}@{RDS_HOSTNAME}:{config.get('DWH', 'DWH_PORT')}/{config.get('DWH', 'DWH_NAME')}"""

In [6]:
query = 'SELECT * FROM dim_articulo;'
dim_articulo = pd.read_sql(query, mysql_driver)
dim_articulo

,id_articulo,id_categoria,codigo,nombre,precio_venta,descripcion,imagen,nombre_categoria,descripcion_categoria
0,0,10010,66883,among,58.97,Hotel off security design second. Born at cour...,Agree himself.,AlimentoMascotas,Mascotas
1,1,10015,86212,run,94.42,Entire air final because relationship. Minute ...,Check sense support.,Golosinas,"Chocolates, dulces"
2,2,10015,84042,agreement,93.58,Material appear there recognize. Level perhaps...,Enough avoid with.,Golosinas,"Chocolates, dulces"
3,3,10025,61637,treat,74.02,Tax senior half marriage well. Thousand decide...,Positive.,gorros,gorros para frio
4,4,10025,40882,image,41.02,Report strategy soldier prevent will executive...,Develop mention.,gorros,gorros para frio
...,...,...,...,...,...,...,...,...,...
995,995,10018,36947,career,37.44,Ask garden method last than nothing suddenly a...,Protect want then.,MuebleCaja,articulos de muebles de caja
996,996,10008,74981,finally,45.04,Resource small prepare send stage church tradi...,Specific near land.,comestibles,comida
997,997,10025,39489,nice,72.40,Evidence issue field subject seem film. Few to...,Loss yard once help.,gorros,gorros para frio
998,998,10025,27450,central,28.28,Song minute sell identify focus among media. H...,Teach relationship.,gorros,gorros para frio
999,999,10010,29671,create,63.95,Treatment else very. Under alone than against ...,Shoulder support.,AlimentoMascotas,Mascotas